/* CSS pour les boutons "+" et "-" et la quantité */
.menu-item .quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu-item .quantity button {
  background-color: #e31b47;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mu-subtitle{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: #fff;
}

.menu-item .quantity button:hover {
  background-color: #0056b3;
}

.menu-item .quantity span {
  margin: 0 10px;
  font-size: 16px;
}

.menu-item button {
  background-color: #e64747;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  
  

}

.menu-item button:hover {
  background-color: #0056b3;
}

/* CSS pour le menu */
.menu {
  text-align: center; /* Centrer le contenu */
  padding: 50px 0; /* Ajouter un espacement autour du menu */
}

/* CSS pour les éléments du menu */
.menu-item {
  margin: 20px; /* Espacement entre les éléments du menu */
  padding: 20px; /* Espacement interne des éléments du menu */
  border: 1px solid #ccc; /* Ajouter une bordure autour des éléments du menu */
  background-color: #fff; /* Couleur de fond des éléments du menu */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère autour des éléments du menu */
  opacity: 0.8;
  transition: transform 0.3s; /* Ajouter une transition de transformation au survol */
}

.menu-item:hover {
  transform: translateY(-5px); /* Léger effet de levage au survol */
}

/* CSS pour le conteneur du menu */
.menu-container {
  background-image: url("/public/images/home/slider/menu.jpeg"); /* Remplacez par le chemin de votre image de fond */
  background-size: cover; /* Ajustez la taille de l'image à la div */
  background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
  background-position: center center; /* Centrez l'image horizontalement et verticalement */
  padding: 50px 0; /* Ajouter un espacement autour du menu */
}

/* Le reste de votre CSS pour les éléments de menu va ici */
